<a href="https://colab.research.google.com/github/yukuproj/made2/blob/main/hw2_what_where_when.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Что? Где? Когда? Рейтинги homework 2

In [1]:
import numpy as np
import pandas as pd
import pickle
import re
import scipy.stats as stats
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from scipy import sparse as sp
from scipy.special import expit

In [2]:
ls

sample_data/

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1. Чтение

In [4]:
players_file = "/content/drive/MyDrive/made2_ml_hw2/players.pkl"
results_file = "/content/drive/MyDrive/made2_ml_hw2/results.pkl"
tournaments_file = ("/content/drive/MyDrive/made2_ml_hw2/tournaments.pkl")

with open(players_file, 'rb') as fin:
     players_data = pickle.load(fin)

with open(results_file, 'rb') as fin:
     results_data = pickle.load(fin)

In [52]:
with open(tournaments_file, 'rb') as fin:
     tournaments_data = pickle.load(fin)

Filtering data

In [6]:
def isOk(tr):
    rez1 = tr.get('mask') and tr.get('teamMembers')    
    rez2 = len(tr.get('teamMembers')) > 0    
    rez3 = all(players_data.get(tm['player']['id']) for tm in tr.get('teamMembers'))
    if not(rez1 and rez2 and rez3):  ##  нет состава команд или детализации по вопросам
      return False
    rez4 = not re.findall('[^01]', tr.get('mask'))   ## нет четких ответов
    return rez4

In [7]:
results_filtered = {}
tournaments_filtered = {}

for t_id, team_results in results_data.items():
    team_results_filtered = [tr for tr in team_results if isOk(tr)]
    if (len(team_results_filtered) > 0):
        results_filtered[t_id] = team_results_filtered
        tournaments_filtered[t_id] = tournaments_data[t_id]

In [8]:
tournaments_train = {k: v for k, v in tournaments_filtered.items() if v['dateStart'][:4] == '2019'}  ## тестовая выборка -турниры за 2020 год
tournaments_test  = {k: v for k, v in tournaments_filtered.items() if v['dateStart'][:4] == '2020'}  ## обучающая выборка - турниры за 2019 год

In [9]:
print(f'Размер обучающей выборки: {len(tournaments_train)}')
print(f'Размер тестовой выборки:  {len(tournaments_test)}')

Размер обучающей выборки: 616
Размер тестовой выборки:  160

## 2. Baseline-модель

Будем предполагать что игрок отвечает точно также как и его команда. Т.е. если команда на вопрос ответила, то это значит, что и каждый игрок внутри команды тоже способен был самостоятельно ответить на вопрос. И обратно, более естественное требование, если команда не ответила, то не смог бы ответить и каждый игрок. 

Будем считать что модель устроена как логистическая регрессия, в которой в качестве аргументов являются метки игрока и метка вопроса. Неизвестными коэффициентами в этой регрессии будут являться "уровень" игрока и "сложность вопроса". При этом обучаться будем на 0 или 1 в зависимости от того, ответил ли игрок на вопрос или нет.

Для определения переменных модели закодируем игрока и вопрос в с помощью OneHotEncoding представления. Входной вектор для обучения тогда - это вектор из нулей и единиц, где единицы соответствуют конкретному игроку и конкретному вопросу на который он отвечает, а ответ - 0 или 1 в зависимости от того, ответил ли игрок на вопрос.

In [10]:

train_table = []
max_question_id = 0
for tour_id, _ in tournaments_train.items():
    for team_result in results_filtered[tour_id]:
        team_id = team_result['team']['id']
        mask = np.array([np.int32(answer) for answer in team_result['mask']])
        players = team_result['teamMembers']
        questions = np.arange(max_question_id, max_question_id + len(mask))
        
        for player in players:
            player_id = player['player']['id']
            for i in range(len(mask)):
                train_table.append([tour_id, team_id, player_id, questions[i], mask[i]])
    max_question_id += len(mask)    
        
train_df = pd.DataFrame(train_table, columns = ['tour_id', 'team_id', 'player_id', 'question_id', 'answer'])

In [11]:
ohe = OneHotEncoder(handle_unknown='ignore')
X_train = ohe.fit_transform(train_df[['player_id', 'question_id']])
y_train = train_df['answer']

In [12]:
del tournaments_data 
del results_data

In [13]:
lr = LogisticRegression(n_jobs = -1)
lr.fit(X_train, y_train)

LogisticRegression(n_jobs=-1)

In [16]:
active_players = np.unique(train_df['player_id'])
rating = pd.DataFrame({'id': active_players, 'coef': lr.coef_[0][:len(active_players)], 'name': [(players_data[i]['name'] + ' ' + players_data[i]['surname']) for i in active_players]})

In [15]:
rating.sort_values(by='coef', ascending=False).head(50)

         id      coef                   name
3803  27403  3.589675           Максим Руссо
593    4270  3.537738      Александра Брутер
5106  37047  3.384659            Мария Юнгер
3991  28751  3.311466           Иван Семушин
5289  38196  3.247600       Артём Митрофанов
513    3671  3.213598   Алексей Богословский
3874  27822  3.200231       Михаил Савченков
4176  30152  3.135241         Артём Сорожкин
583    4226  3.118063         Сусанна Бровер
6633  56647  3.102888       Наталья Горелова
9499  90664  3.095764          Иван Ермолаев
534    3843  3.076998       Светлана Бомешко
4196  30270  3.056109         Сергей Спешков
1689  12307  3.024707      Светлана Иванцова
3622  26089  3.014711       Ирина Прокофьева
2359  16837  3.011367      Наталья Кудряшова
9199  87637  3.005028         Антон Саксонов
3178  22799  3.001048       Сергей Николенко
409    2998  2.977524     Алексей Белоглазов
2949  21137  2.974952        Кирилл Михайлов
3229  23178  2.963567     Елизавета Овдеенко
2109  15123  2.959482      Ирина Колесникова
1934  14025  2.948539    Александра Киланова
2531  18036  2.946829    Михаил Левандовский
2884  20691  2.942830  Станислав Мереминский
3578  25757  2.941643         Мария Летюхина
3026  21698  2.941610      Александр Мосягин
2551  18194  2.937883       Мария Кленницкая
8063  74001  2.932121            Игорь Мокин
4719  34328  2.923112           Михаил Царёв
1376   9834  2.919986        Ольга Дубинская
3319  23737  2.919912      Андрей Островский
4935  35877  2.902910        Богдан Шевченко
7073  62252  2.896533            Тимур Боков
4800  34846  2.896348           Антон Чернин
1889  13689  2.895026        Дмитрий Карякин
3195  22935  2.879867           Илья Новиков
2781  19915  2.878160       Александр Марков
66      505  2.862926      Иделия Айзятулова
3396  24384  2.856502     Евгений Пашковский
8101  74382  2.854329       Михаил Новосёлов
866    6212  2.847590           Юрий Выменец
2172  15595  2.835809     Кристина Кораблина
2053  14786  2.828725      Николай Коврижных
2571  18332  2.828668        Александр Либер
3982  28689  2.823008          Инна Семёнова
1265   9061  2.816094          Евгений Дёмин
3844  27622  2.814434          Николай Рябых
2285  16332  2.808570        Николай Крапиль
7756  70750  2.804156      Денис Галиакберов

In [ ]:


del players_data

## 3. Качество рейтинговой системы

Качество рейтинг-системы оценивается качеством предсказаний результатов турниров.

Чтобы оценить качество, возьмем тестовую выборку и для каждого вопроса будем считать, что чтобы команда ответила на вопрос надо чтобы хотя бы один игрок ответил на этот вопрос.

In [17]:
test_table = []

for tournament_id, tournament in tournaments_test.items():
    for team_result in results_filtered[tournament_id]:
        team_id = team_result['team']['id']
        mask = np.array([np.int32(answer) for answer in team_result['mask']])
        players = team_result['teamMembers']
        
        for player in players:
            player_id = player['player']['id']
            if player_id not in active_players:
                continue
            test_table.append([tournament_id, team_id, player_id, -1, sum(mask), len(mask)])  
        
test_df = pd.DataFrame(test_table, columns = ['tournament_id', 'team_id', 'player_id', 'question_id', 'correct_answers', 'total_answers'])

In [18]:
X_test = test_df[['player_id', 'question_id']]
X_test = ohe.transform(X_test)
predictions = lr.predict_proba(X_test)[:, 1]

In [19]:
def compute_scores(data, preds):
    data['pred'] = preds
    data['score'] = data.groupby(['tournament_id', 'team_id'])['pred'].transform(lambda x: 1 - np.prod(1 - x))
    rating = data[['tournament_id', 'team_id', 'correct_answers', 'score']].drop_duplicates().reset_index(drop=True)
    
    # Считаем реальный рейтинг команд
    rating = rating.sort_values(by=['tournament_id', 'correct_answers'], ascending=False)
    rating['real_rank'] = rating.groupby('tournament_id')['correct_answers'].transform(lambda x: np.arange(1, len(x) + 1))
    
    # Считаем предсказанный рейтинг
    rating = rating.sort_values(by=['tournament_id', 'score'], ascending=False)
    rating['pred_rank'] = rating.groupby('tournament_id')['score'].transform(lambda x: np.arange(1, len(x) + 1))

    rating = rating.astype(np.int32)
    
    print(f"Корреляция Спирмана: {rating.groupby('tournament_id').apply(lambda x: stats.spearmanr(x['real_rank'], x['pred_rank']).correlation).mean()}")
    print(f"Корреляция Кендалла: {rating.groupby('tournament_id').apply(lambda x: stats.kendalltau(x['real_rank'], x['pred_rank']).correlation).mean()}")

In [20]:
compute_scores(test_df, predictions)

Корреляция Спирмана: 0.7672515187411473
Корреляция Кендалла: 0.5987298826719607

## 4. EM алгоритм

Будем считать, что теперь все игроки в команде могли отвечать по-разному. Даже если вся команда ответила на вопрос, то будем считать, что это не означает, что каждый ответил на вопрос. Если же команда не ответила на вопрос, то как и ранее будем считать, что каждый из игроков на вопрос не ответил.

Формально можно считать, что для каждого вопроса j и каждого игрока i есть некоторая случайная ненаблюдаемая! величина z_i_j, которая принимает два значения 0 или 1 в зависимости от того, смог бы игрок i самостоятельно ответить на вопрос j.

Сами значения z_i_j мы непосредственно не наблюдаем, поскольку они замешаны с ответами команды и результаты игрока оказываются зашумлены ответами команды. Однако, ответы команды и ответы игрока коррелированы, что даст возможность через ответы команды получить некоторую информацию об гипотетических ответах самого игрока.

Подсчитаем условную вероятность того, что игрок ответит, при условии что его команда не ответила (очевидно эта вероятность 0) и при условии, что его команда ответила:

Введем новые обозначения

Пусть 
 $P (z_{i,j}=1| x) $ - условная вероятность того, что игрок ответит на вопрос, при условии что его команда ответит на вопрос либо верно (x=1), либо неверно (x=0).

Как уже отмечалось,  $P (z_{i,j}=1| x=0) = 0$ - если команда не ответила на вопрос, то и каждый игрок не стал бы утаивать правильный ответ и значит сам бы не ответил на вопрос.

Если же команда ответила на вопрос, условная вероятность сложнее (по формуле полной вероятности):
 
 $P (z_{i,j}=1| x=1) = \frac{P(z_{i,j}=1)}{P(x=1)} = \frac{P(z_{i,j}=1)} {1-(1-P(z_{i_{1},j }=1))...(1-P(z_{i_{n},j }=1))}$

 где $z_{i_{k},j }$ - аналогичные события что игрок $i_{k}$ из той же команды что и игрок i ответит верно на вопрос j. Произведение в знаменателе по всем игрокам из команды.

 Алгоритм выглядит таким образом:

На M шаге подбираем коэффициенты в логистической регрессии как и ранее в baseline, только в качестве целей используем не 0 или 1 как ранее, а найденные условные вероятности $P (z_{i,j}=1| x)$.

На M шаге поскольку метки у нас уже мягкие (вероятности ответов, а не 0 или 1), то можно попробовать прогнать обычную регрессию на величину log(p/(1-p)).
И потом взять логистическую функцию чтобы получить предсказание самих вероятностей.

На E шаге обновляем условные вероятности

 $P (z_{i,j}=1| x=0) = 0$

 $P (z_{i,j}=1| x=1) = \frac{P(z_{i,j}=1)}{P(x=1)} = \frac{P(z_{i,j}=1)} {1-(1-P(z_{i_{1},j }=1))...(1-P(z_{i_{n},j }=1))}$

 Здесь используются предсказанные модельные вероятности полученные в конце M шага.

In [ ]:
del players_data 
del results_data

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
def log_loss(y_true, y_pred):
    return - np.mean(y_true * np.log(y_pred) + (1 - y_true) * np.log(1 - y_pred))

In [27]:
class EMClassifier2:    
    def __init__(self, w=None,   n_iter=1):
        self.w = w         
        self.n_iter = n_iter         
                
    def add_intercept(self, X):
        return sp.hstack((np.ones((X.shape[0], 1)), X), format='csr')    
        
    def E_step(self, data, preds):
        team_prob = pd.DataFrame({'team_id': data['team_id'], 'question_id': data['question_id'], 'team_prob': 1 - preds}).groupby(['team_id', 'question_id']).agg({'team_prob': 'prod'}).reset_index()

        team_prob['team_prob'] = 1 - team_prob['team_prob']
        team_prob = data[['team_id', 'question_id']].merge(team_prob)
        y = np.clip(preds / team_prob['team_prob'], 0, 1).values
        y[data['answer'] == 0] = 0
        return y
        
    def M_step(self, X, y):
        y = np.clip(y, 1e-8, 1 - 1e-8)   # numerical stability
        inv_sig_y = np.log(y / (1 - y))  # transform to log-odds-ratio space        
        reg = LinearRegression().fit(X, inv_sig_y)         
        self.w = reg.coef_
                
    def fit(self, X_tr, train_data, X_te=None, test_data=None):
        X_tr = self.add_intercept(X_tr)
        for iter_ in range(self.n_iter): 
            preds = self.predict(X_tr)
            y = self.E_step(train_data, preds)            
            self.M_step(X_tr, y)
            if   X_te is not None and test_data is not None :
                predictions = self.predict(X_te)
                compute_scores(test_data, predictions)
                         
    def predict(self, X):
        if len(self.w) != X.shape[1]:
            X = self.add_intercept(X)
        return expit(X.dot(self.w))

In [29]:
w_init = np.hstack([lr.intercept_, lr.coef_[0]]) # инициализация весов из baseline
em_classifier2 = EMClassifier2(w_init, n_iter=10)

em_classifier2.fit(X_train, train_df, X_test, test_df)

Корреляция Спирмана: 0.8136059012581814
Корреляция Кендалла: 0.6596581870527517
Корреляция Спирмана: 0.8414256878166609
Корреляция Кендалла: 0.7158969256768031
Корреляция Спирмана: 0.8482476331250576
Корреляция Кендалла: 0.7291525734318489
Корреляция Спирмана: 0.8514277778140986
Корреляция Кендалла: 0.7341593116649628
Корреляция Спирмана: 0.8523051242404851
Корреляция Кендалла: 0.7356496536684254
Корреляция Спирмана: 0.8524444450311947
Корреляция Кендалла: 0.7358764831076257
Корреляция Спирмана: 0.8525973246981146
Корреляция Кендалла: 0.7362662445916536
Корреляция Спирмана: 0.8526737499260364
Корреляция Кендалла: 0.7366279454394613
Корреляция Спирмана: 0.8526898172288637
Корреляция Кендалла: 0.7366114208612989
Корреляция Спирмана: 0.8526294797598195
Корреляция Кендалла: 0.7364905254098512

In [43]:
active_players = np.unique(train_df['player_id'])
rating = pd.DataFrame({'id': active_players, 'coef': em_classifier2.w[1:(len(active_players)+1)], 'name': [(players_data[i]['name'] + ' ' + players_data[i]['surname']) for i in active_players]})

In [49]:
rating.sort_values(by='coef', ascending=False).head(65)

           id       coef               name
5076    36844  27.584091      Павел Щербина
3803    27403  23.053799       Максим Руссо
5285    38175  22.721173   Максим Пилипенко
593      4270  22.007434  Александра Брутер
51260  213500  21.867328      Алексей Генус
...       ...        ...                ...
3178    22799  18.678551   Сергей Николенко
2551    18194  18.661364   Мария Кленницкая
892      6482  18.658229        Ким Галачян
8955    84375  18.650609       Андрей Бужан
6355    53686  18.597610   Мария Рубинштейн

[65 rows x 3 columns]

После 10 итераций EM алгоритма результаты заметно лучше безлайн

## 5. Рейтинг лист турниров

In [50]:
em_classifier_w = em_classifier2.w



Считаем среднюю сложность вопросов в турнире (среднее коэффициентов в модели).

In [53]:
active_questions = np.unique(train_df['question_id'])
q_rating = dict(zip(active_questions, em_classifier_w[-len(active_questions):]))

train_df['difficulty'] = train_df['question_id'].map(q_rating)
train_df['tournament_name'] = train_df['tour_id'].map({v['id']: v['name']for k, v in tournaments_data.items()})

tournaments_rating = train_df[['tournament_name', 'question_id', 'difficulty']].drop_duplicates()
tournaments_rating = tournaments_rating.groupby('tournament_name')['difficulty'].mean().sort_values().reset_index()

In [70]:
tournaments_rating.head(10)

                           tournament_name  difficulty
0  Чемпионат Санкт-Петербурга. Первая лига  -11.572628
1                              Угрюмый Ёрш   -7.291979
2   Зеркало мемориала памяти Михаила Басса   -6.744694
3          Чемпионат Мира. Финал. Группа С   -5.821598
4         Чемпионат Мира. Этап 2. Группа А   -5.762531
5                       Воображаемый музей   -5.671928
6             Первенство правого полушария   -5.615403
7         Чемпионат Мира. Этап 3. Группа В   -5.608961
8         Чемпионат Мира. Этап 3. Группа С   -5.564950
9            Мемориал памяти Михаила Басса   -5.554655